.contact-section {
  height: 75vh;
  background-color: $beige;
}


.contact-card {
  text-align: center;
}

.contact-avatar {
  height: 160px;
  width: 160px;
  border-radius: 80px;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .dotted-right {
    border-right: 3px solid #ddd5c3;
    border-style: none dotted none none;
  }
}

@media screen and (max-width: 768px) {
  .contact-section {
      height: 120vh;
  }

  .contact-section > h2 {
    padding: 30px 0px !important;
  }
}
