body,
html {
    height: 100%;
    background-color: transparent;
}

body,
    {
    overflow-x: hidden;
}

header {
    background-color: #2E3E4E;
    // border-bottom-right-radius: 50% 20%;
}

.main-section {
    display: flex;
    flex-direction: row;
    height: 850px;
    justify-content: space-around;
    // padding-bottom: 100px;
    flex-wrap: wrap;
    border-bottom-left-radius: 50% 20%;
    background-color: white;
    padding: 0px 20px 0 20px;
    padding-bottom: 30px;
}

// .left-header {
//     background-color: white;
//     align-self: flex-start;
//     margin-left: 10vw;
//     margin-top: 8vh;
// }

.right-header {
    align-self: stretch;
    background: url("/images/right.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 658px;
    border-radius: 4px;
    position: relative;
}

@media screen and (max-width: 1163px) {
    .main-section {
        transition: all .15s ease;
        padding: 0;
    }
}

@media screen and (max-width: 1086px) {
    .right-header {
        display: none;
    }

    .main-section {
        padding-bottom: 160px;
        padding-left: 40px;
    }
}

// h1.main-title {
//     // font-family: $text-font;
//     line-height: 1.3em;
//     font-size: 55px;
//     margin-top: 30px;
//     color: #0e0000;
// }

// outline

.outline {
  display: flex;
  flex-direction: row;
  height: 1500px;

}


.carousel {
  background: white;
  height: 85vh;
  padding: 40px;
  padding-left: 17vw;
  background-color: #FFF9EF;
}

.carousel-cell {
  width: 90%;
  height: 95%;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  // display:flex;
  counter-increment: gallery-cell;
  overflow: hidden;
  box-shadow: 1px 4px 5px #EAEAEA;
}

/* cell number */
// .carousel-cell:before {
//   display: block;
//   text-align: center;
//   content: counter(gallery-cell);
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }

ol.flickity-page-dots {
  display: none;
}

.getintouch {
  background-color: $beige;
  height: 25vh;
  display: flex;
  justify-content: space-around;

}

.getintouch-container {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

@media screen and (max-width: 758px) {

  .getintouch-container {
    width: 85vw;
  }
}
