@media screen and (max-width: 1040px) {

// div.col-md-6.right-section-pic-container {
//   display: none;
// }
  .first-section > .right-section-pic-container {
    display: none;

  }

  .display-none-mobile {
    display:none;
  }

  .course1 {
    height: 115vh !important;
  }

  .paragraph-row {
    width: 33vw !important;
  }

  .Web > p {
    width: 70vw;
  }

  .fourth-section-paragraph {
    width: 80vw;
  }

  .display {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .datatron {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    min-height: 95%;
  }

  .no-display-navbar {
    display:none;
  }

  .sub-title {
    font-size: 20px !important;
    font-weight: bold !important;
    color: black !important;
  }

  .referrer-service {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    /* -webkit-box-shadow: 0 15px 35px rgba(126, 87, 88, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); */
    /* box-shadow: 0 15px 35px rgba(126, 87, 88, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); */
  }

  .section-content .block-content {
      -ms-flex: 1 0 300px;
      flex: 1 0 300px;
      padding: 0!important;
      border: none!important;
  }

  .section-content {
    flex-wrap: wrap;
  }

  .last-sec {
    display: block !important;
  }

  .right-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sec-landing-main-subtitle {
    max-width: 85vw !important;
    margin-top: 5vh;
  }

  .sec-landing-left-header {
    margin: 0 auto !important;
    width: 85vw !important;
  }

  .link-nav-container {
    display: none !important;
  }

  .left-text {
    // background-image: url("../../images/parallax.jpg")
  }

  .main-title {
    font-size: 45px !important;
  }

  .main-subtitle {
    font-size: 17px !important;
  }

  .main-subtitle > a {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  // .row .first-section {
  //   margin-left: 0 !important;
  //   margin-right: 0 !important;
  // }


  .right-pic {
    display: none !important;
  }

  .right-section-pic-container {
    height: 300px;
  }

  .header-courses-section {
    font-size: 40px !important;
    margin-top: 0px !important;
    width: 70vw;
    position: relative;
    margin-bottom: 50px !important;
  }

  .no-padding-mobile {
    margin-top: 0 !important;
    margin-bottom: 10px !important;

  }

  .fourth-section-paragraph {
    width: 75vw !important;
    margin-top: 30px !important;
    font-size: 16px;
  }

  .first-section {
    height: 780px;
  }

  .first-section > ul > li > a {
    display: none !important;
  }

  .accordion-mobile {
    display: block;
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .mobile-header {
    display: none !important;
  }

  .card {
    width: 80%;
    margin: 20px auto;

  }

  .card-header {
    background-color: black;
    padding: 10px 1.25rem;
  }

  .card-header > h5 > button {
    font-size: 21px;
    color: white;
  }

  .mb-0 {

  }

  .header-courses-section-mobile-none {
    display: block !important;
    margin-top: 30px !important;
  }

  .right-section-pic-double {
    margin-top: 40px !important;
  }


  // timeline

  .wrapper-white {
    padding: 50px 20px;
    position: relative;
    border-top: 3px #ddd5c3 dotted;
  }

  .wrapper-white > h2 {
    margin: 0 auto 20px;
    max-width: 600px;
    font-size: 1.8em;
    letter-spacing: 0;
    line-height: 1.25em;
    // font-family: Graphik-Regular;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .sub-title {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #6f6d6f;
    margin: 0 0 16px;
    font-family: Graphik-Regular;
    font-size: 0.9em;
    font-weight: 100;
    opacity: 0.8;
  }

  .day-info {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 16px;
    background-color: #fcf5e8;
    border-radius: 3px;
    overflow: hidden
  }

  .day-info > img {
    margin-right: 10px;
  }

  .day-info > span {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: CircularStd-Black;
    font-size: 1.1em;
  }

  .day > p {
    font-family: Graphik-Regular;
    font-size: 0.9em;
    font-weight: 100;
    opacity: 0.8;
    color: #6f6d6f;
  }


  .day-info > span > i {

    display: block;
    margin-top: 6px;
    font-style: normal;
    font-size: .9em;
    font-family: Graphik-Regular;
  }

  .highlighted-yellow {
    color: #ffc65a;
  }

  .fourth-section {
    height: 120vh;
    min-height: 950px;
  }

  p {
      margin: 0 0 10px;
  }

  .price-card {
    width: 85vw;
    top: 10%;
    min-height: 500px;
  }

  .prices-cards {
    height: 85%;
  }

  .last-section {
    height: 180vh;
    min-height: 1100px;

  }

  .cta {
    margin: 0 auto;
  }

  .displayed {
    display:none !important;
  }
}


@media screen and (min-width: 1040px) {
  // .header-courses-section {
  //   display: none !important;
  // }

  section.wrapper-white {
    display: none !important;
  }

  .display {
    display: none !important;
  }

  .Web > p {
    width: 55vw;
  }

  .last-section {
    height: 105vh;
  }

  .mobile-header {
    display: none !important;
  }

  .header-top-fullscreen-big {
    top: 70px;
    font-size: 50px;
  }

  .header-top-fullscreen-small {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1040px) {
  .mobile-header {
    display: inline-block !important;
    width: 100%;
  }

  .ul.datatron li {
    max-width: 33.33333%;
  }

  .right-text-padding {
    margin-top: 50px;
  }

}

@media screen and (min-width: 576px) {
  section.wrapper-white {
    display: none !important;
  }

  .text-left-desktop {
    text-align: left;
    width: 33vw;
  }

  // .fourth-section-paragraph {
  //   width: 85vw !important;
  // }
}

@media screen and (min-width: 769px) {
  .header-top-fullscreen-big {
    top: 70px;
    font-size: 50px;
  }

  .dotted-full-screen {
    border-bottom: 5px dotted #FFF9EF;
  }

  .smaller-card-desktop {
    padding: 0px 40px;
  }
}

@media screen and (max-height: 600px) {
 .header-top-fullscreen-big {
  top: 0px;
 }

 .no-padding-mobile, .minus-top-mobile {
  top: -10px;
 }

 .third-section {
  min-height: 850px;
 }
}






































