
@media screen and (max-width: 350px) {
  .immersive-bootcamp {
    padding: 30px 15px !important;
  }

  .fourth-section-paragraph {
    margin-top: -20px !important;
  }

  .cta {
    width: 100% !important;
  }

  .card-header > h5 > button {
    font-size: 17px;
    color: white;
  }

}
