// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
// $green: #32B796;
// $yellow: #FDB631;

$blue: #469AE0;
$orange: #E67E22;

$gray: #000000;
$light-gray: #F4F4F4;

$beige: #fcf5e8;

$purple: #7971fb;
$light-purple: #ebe9fe;

$red: #FD1016;
$light-red: rgba(253,16,21,.1);

$green: #1edd88;
$light-green: #e4fff3;

$yellow: #ffc65a;
$light-yellow: #fff7e8;

$text-gray: rgba(111, 109, 111, 0.8)

